{
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "jsonc" }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "printWidth": 40
      }
    },

    {
      "files": ["*.xml", "*.xsl"],
      "options": {
        "parser": "xml",
        "printWidth": 500,
        "xmlSelfClosingSpace": false,
        "xmlWhitespaceSensitivity": "ignore",
        "xmlQuoteAttributes": "double"
      }
    },

    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "parser": "yaml",
        "bracketSpacing": false,
        "printWidth": 500
      }
    }
  ]
}
